*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    /* background-color: blue; */
}
a{
    text-decoration: none;
}
.main_navbar{
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    background-color: #101010;
}
.ul{
    display: flex;
}
.brand{
    height: 20px;
    width: 120px;
    margin-top: 18px;
    /* position: absolute; */
}
.l-one li{
    padding: 20px;
    list-style: none;
}
.l-one li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff99;
    font-family:  "Open Sans", sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}
.l-one li a:hover{
    color: #ffffff;
}


/* ........login.... */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.login-box{
    position: relative;
   background-image: url('../images/background-2.jpeg');
   width: 100%;
   background-size: cover;
   background-position: center;
   height: 700px;
   opacity: 0.8;
}
.main-login{
    margin-top: 0px;
    position: absolute;
    height: 450px;
    width: 550px;
    /* border: solid; */
    background-color: #fff;
    
}
.first-login{
    display: flex;
}
.one-login{
    height: 450px;
    width: 550px;
    background-color: #fff;
    display: flex;
    justify-content: center;

}
.sign{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    letter-spacing:  1px;
}
.login-icon{
    font-size: 30px;

}
.form-login{
    display: flex;
    justify-content: space-between;
    /* padding: 20p */
    /* height: 450px; */
    /* border: solid; */
    width: 380px;
    margin-top: 30px;
    /* align-items: /center; */

}
.l-login{
    margin-top: 20px;
}
.l-login label{
    text-transform: uppercase;
    font-size: 12px;
    color: #555;
    letter-spacing: 1px;
    line-height: 1.5;
    /* margin-bottom: 10px; */
    
}
.l-input{
    display: block;
    padding: 18px;
    width: 350px;
    margin-top: 10px;
}
.main-toggle{
    display: flex;
    margin-top: 30px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    

    height: 24px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4F944F;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4F944F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    border: 1px solid #4F944F;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.toggle-text{
    margin-top: 5px;
    margin-left: 20px;
    font-weight: 300;
    font-size: 14px;
    font-size: "Open Sans", sans-serif;
    color: #555;
    letter-spacing: 1px;
}
.login-btn{
    margin-top: 40px;
    
}
.login-btn:hover .login23{
    /* background-color: white; */
    color: #000000;
    border-radius: 5px;
}
.login23{
    width: 400px;
    padding: 20px;
    text-transform: uppercase;
    background-color: #4F944F;
    border: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

.account{
    position: absolute;
    height: 80px;
    width: 550px;
    /* border: solid red; */
    /* margin-top: 50px; */
    margin-top: 540px;
    background: #fff;
}
.top-account{
    display: flex;
    /* align-items: baseline; */
   
    margin-top: 30px;
    justify-content: space-between;
    
}
.c-account{
    margin-left: 80px;
}
.c-account a{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #000000;

}
.p-account{
    margin-right: 80px;
}
.p-icon{
    font-size: 24px;
    color: #000000;

}


/* ............footer............... */
.footer{
    display:flex ;
    justify-content: center;
}
.foot-one{
    border-right: 3px solid rgba(255, 255, 255, 0.5);
}
.foot_grid{
    height: 400px;
    width: 50%;
    /* margin-top: 180px; */
    background-color: #101010 !important;
}
.foot_right{
    display: flex;
    justify-content: center;
}
.fot-right{
   height: 300px;
   width: 400px; 
}
.fot-right p{
    color:  rgba(255, 255, 255, 0.5);
    line-height: 1.8;
    margin-top: 70px;
}
.fot-right p a{
    color: #fff;
    font-size: 16px;
    font-family:  "Muli", sans-serif;
}
.foot_right h4{
    color: #555;
    font-size: 12px;
    text-transform: uppercase;
    font-family:  "Muli", sans-serif;
    margin-top: 30px;
}

.top-link{
    height: 10px;
    width: 400px;
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.inside-link a{
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 300;
}
.width-about{
    width: 0px;
    height: 1px;
    background-color: white;
    /* display: none; */
    transition: width 0.1s;
}
.width-faq{
    width: 0px;
    height: 1px;
    background-color: white;
    /* display: none; */
    transition: width 0.1s;
}
.width-contact{
    width: 0px;
    height: 1px;
    background-color: white;
    /* display: none; */
    transition: width 0.1s;
}
.width-blog{
    width: 0px;
    height: 1px;
    background-color: white;
    /* display: none; */
    transition: width 0.1s;
}
.inside-link:hover .width-about{
    /* display: block; */
    width: 45px;
}
.inside-link:hover .width-faq{
    /* display: block; */
    width: 30px;
}
.inside-link:hover .width-contact{
    /* display: block; */
    width: 75px;
}
.inside-link:hover .width-blog{
    /* display: block; */
    width: 35px;
}
.blog-one{
    margin-right: 45px;
}










.top_foot-sub{
    display: flex;
    /* justify-content:; */
    position: relative;
}
.top_foot-sub h4{
    /* margin-top: 70px; */
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-family:"Muli", sans-serif ;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.last-foot{
    height: 300px;
    width: 600px;
    /* border: 1px solid white; */
    margin-top: 70px;
    margin-left: 100px;
}
.foot-input{
    height: 60px;
    width: 300px;
    padding: 8px;
    background-color: transparent;
    border: 1px solid  rgba(255, 255, 255, 0.5);
}
.foot_sub button{
    text-transform: uppercase;
    height: 77px;
    width: 200px;
    padding: 8px;
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    position: absolute;
    /* margin-bottom: 30px; */
    font-family: "Muli", sans-serif;
}
.foot_sub h3{
    color:rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-family:"Muli", sans-serif;
    font-size:14px ;
    letter-spacing: 1px;
}
.foot-icon{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    color:rgba(255, 255, 255, 0.5);
}
.foot-icon1{
    font-size: 20px;
    padding-top: 10px;
    color:rgba(255, 255, 255, 0.5);
}
.foot-icon1:hover{
    color: white;
}
.foot-icon:hover{
    color: white;
}

/* media query */

    
@media screen and (min-width: 320px) and (max-width: 480px){
    .main_navbar{
        flex-direction: column;
        width: 100%;
        /* justify-content: center; */
        align-items: center;
        height: 444px;
    }
    .ul{
        flex-direction: column;
        width: 100%;
        text-align: center;
        /* border: 1px solid white; */
    }
    .login{
        width: 100%;
    }
    .login-box{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .main-login{
        width: 80%;
    }
    .first-login{
        width: 100%;
    }
    .one-login{
        width: 100%;
    }
    .form-login{
        width: 80%;
        /* margin: 10px; */
        margin-left: 10%;
    }
    .l-login{
        width: 100%;
        margin-left: 10%;
    }
    .l-input{
        width: 70%;
    }
    .main-toggle{
        width: 100%;
        margin-left: 10%;
    }
    .login-btn{
        width: 100%;
        margin-left: 10%;
    }
    .login23{
        width: 85%;
    }
    .account{
        width: 80%;    
    }
    .top-account{
        width: 100%;
        /* margin-left: 10%; */
    }



    
    .footer{
        flex-direction: column;
        width: 100%    ;
    }
    .foot_grid{
        width: 100%;
    }
    .last-foot{
        width: 100%;
        margin: 0px;
        margin-top: 30px;
    }
    .top_foot-sub{
        width: 80%;
        margin: 0px 10%;
    }
    .foot-input{
        width: 200px;
        /* padding-left:px; */
    }
    .foot_sub button{
        /* width: 30%; */
        width: 170px;
    }
    .s-foot-grid{
        margin: 0px;
    }
    
}